@import "~bpk-mixins";

// common class
.textRight {
  text-align: right;
}

// content class.
.contentDiv {
  background-color: $bpk-color-gray-50;
  padding-top: $bpk-spacing-sm;
}

.contentCard {
  margin: 0 $bpk-spacing-sm $bpk-spacing-sm;
}


// leg class.
.legBaseGreen {
  color: $bpk-color-green-500;
}

.legBaseGray {
  color: $bpk-color-gray-300;
}

.legColumn {
  display: inline-block;
  vertical-align: middle;
  float: none;
  height:'48px';

}

.legIconGray {
  fill: $bpk-color-gray-500;
}

.legImg {
  border-radius: 5px;
  object-fit: cover;
}

// footer class.
.footerBaseGray {
  color: $bpk-color-gray-300;
  position: relative;
  top: -10px;
}

.footerGridRow {
  display: flex;
  align-items: flex-end;
  padding: 0;
  margin: 0;
}

.footerGridColumn {
  height: 70px;
  line-height: 5px;
  text-right: right;
}


// .bord {
//   margin-left: $bpk-spacing-sm;
// }

// .result_content {
//   padding-top: $bpk-spacing-sm;
// }



// .grid-container {
//   padding: 0;
//   margin: 0;
//   border: 1px solid ;
// }



// .flex-item {
//   line-height: 50px;
// }

// .column-footer {
//   //height: 100px;
//   display: flex;
//   flex-direction: column;
//   flex: row inherit;
// }



// .flex-container {
//   display: flex;
//   align-items: flex-end;
//   padding: 0;
//   margin: 0;
// }
