@import "~bpk-mixins";

.placeholder {
  height: 60px;
  background-color: $bpk-color-white;
  box-shadow: 0 0 1px 0 $bpk-color-gray-300;
  display: flex;
  justify-content: flex-start;
  padding: $bpk-spacing-sm $bpk-spacing-sm;
}
.placeholder a {
  height: 30px;
  align-self: center;
}
.placeholderRight {
  margin-left: auto;
}

.placeholderIconBlue {
  fill: $bpk-color-blue-500;
  position: relative;
}

.placeholderTextBlue {
  color: $bpk-color-blue-500;
}

.placeholderTextBlueLeft {
  padding-right: $bpk-spacing-lg;
  color: $bpk-color-blue-500;
}
