@import "~bpk-mixins";

.subheader {
  padding: $bpk-spacing-sm;
  background-color: $bpk-color-blue-500;
  color: $bpk-color-white;
}

.iconWhite {
  fill: $bpk-color-white;
  margin: 0 $bpk-spacing-sm;
}
